:root {
	--theme-1:  #EAF2F8;
	--theme-2:  #D4E6F1;
	--theme-3:  #A9CCE3;
	--theme-4:  #7FB3D5;
	--theme-5:  #5499C7;
	--theme-6:  #2980B9;
	--theme-7:  #2471A3;
	--theme-8:  #1F618D;
	--theme-9:  #1A5276;
	--theme-10: #154360;
}
