:root {
	--theme-1:  #FBEEE6;
	--theme-2:  #F6DDCC;
	--theme-3:  #EDBB99;
	--theme-4:  #E59866;
	--theme-5:  #DC7633;
	--theme-6:  #D35400;
	--theme-7:  #BA4A00;
	--theme-8:  #A04000;
	--theme-9:  #873600;
	--theme-10: #6E2C00;
}
