:root {
	--theme-1:  #EAECEE;
	--theme-2:  #D5D8DC;
	--theme-3:  #ABB2B9;
	--theme-4:  #808B96;
	--theme-5:  #566573;
	--theme-6:  #2C3E50;
	--theme-7:  #273746;
	--theme-8:  #212F3D;
	--theme-9:  #1C2833;
	--theme-10: #17202A;
}
